	<!DOCTYPE html>
	<html lang="en">
	<head>
			<meta charset="UTF-8">
			<!-- icon -->
			<link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/doodle/48/000000/ice-cream-bowl.png">
			<!-- jquery -->
			<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
			<!-- Load css -->
			<link rel="stylesheet" href="{{ url_for('static', filename='/layout.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='/tool.css') }}">
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
			<!-- Load d3.js -->
			<script src="https://d3js.org/d3.v4.js"></script>
			<!-- Load d3-cloud -->
			<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
			<title>Tagger</title>
			<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
			<!-- d3-selection-multi -->
			<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
			<!-- react.js -->
			<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
			<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
			<!-- slier -->
			<!--Plugin CSS file with desired skin-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
			<!--Plugin JavaScript file-->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>   


	</head>
	<body style="background-color: #dce6e9;">

			<div id="content">
					<div class="item1 half_w" id="title">				
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Uncertainty View</h5>
						</div>
						<div class = uncertaintySplit>
							<div class=" uncertaintyEach button_">
								<div style="padding-left: 10px;" >
									<button type="button" class="button button1" >Import Testing</button>
									<button type="button" class="button button1" > Entropy </button>
									<button type="button" class="button button1" > Length </button>
									<div id="enterText">
										  <input type="text" id="inputWord" placeholder="Enter the word">
										  <button type="button" class="button button1" onclick="wordSubmit()" > Submit </button>
									  </div>
								</div>
							</div>
							<div id = "totalLe" style="padding-bottom: 10px; padding-top: 8px ;" class="split65 uncertaintyEach legend buss_">
							</div>
						</div>
						
						<div id = "forceAxis" style="text-align: center; color: azure;">
							<svg></svg>
						</div>
						<div class="range-slider" style="width: 80%; padding-left: 10%; padding-top: 10px;" >
							
						</div>

						<!-- <form>
							<div data-role="rangeslider">
								<label for="range-1a">Rangeslider:</label>
								<input type="range" name="range-1a" id="range-1a" min="0" max="100" value="40">
								<label for="range-1b">Rangeslider:</label>
								<input type="range" name="range-1b" id="range-1b" min="0" max="100" value="80">
							</div>
						</form> -->
					</div>

					<div class="item1 half_w" >
						<div style="padding-left: 11px; padding-top: 2px;padding-bottom: 10px; height: 30px; background-color: #cad7db;">
							<h5>Content View</h5>
						</div>
						<div id="heatMap_set" class="legend "style="padding-left: 11px; padding-top: 2px; height: 30px;"></div>

						<div class = box id="heatMap" style="overflow: auto; height: 380px;"></div>
						<div id="colorSet" class="legend"style="padding-left: 11px; padding-bottom: 10px; height: 30px;"></div>

					</div>
					
					<div class="break"></div>

					<div class="change "> 
						<button type="button" class="button change1" onclick="WSNeighborhood()">WS Neighborhood</button>
						<button type="button" class="button change1" onclick="POSNeighborhood()">POS Neighborhood</button>
					</div>
					<div class="uncertaintyEach "></div>

					<div class="break"></div>
					<div class="item1 " id="hid1_all" style="text-align: center;">
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Neighborhood View-concatenation-layer2</h5>
						</div>
					</div>
					<div class="item1 " id="hid1_forward" style="text-align: center;">
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Neighborhood View-Forward-layer2</h5>
						</div>						
					</div>
					<div class="item1 " id="hid1_backward" style="text-align: center;">
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Neighborhood View-Backward-layer2</h5>
						</div>								
					</div>
					<div class="break"></div>
					<div class="item1  " id="hid0_all" style="text-align: center;">
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Neighborhood View-concatenation-layer1</h5>
						</div>
					</div>
					<div class="item1  " id="hid0_forward" style="text-align: center;">
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Neighborhood View-Forward-layer1</h5>
						</div>
					</div>
					<div class="item1  " id="hid0_backward" style="text-align: center;">
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Neighborhood View-Forward-layer1</h5>
						</div>
					</div>

					<div class="break"></div>

					<!-- <div class="item1 box half_w legend" id="legend_r"></div>
					<div class="item1 box half_w legend" id="legend_l"></div> -->

					<div class="break"></div>
					<div class="item1 half_w"  style="justify-content: center;">
						

						
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Label View</h5>
						</div>	
						<div class = uncertaintySplit>
							<div class=" uncertaintyEach button_">
								<div style="padding-left: 10px;" >
									<div class="dropdown">
										<div class="dropbtn" id="choose" style="padding-bottom: 10px; padding-top: 8px ;">
										  <!-- <i class="fa fa-caret-down"></i> -->
										</div>
									</div>
									<!-- <button type="button" class="button pulldown" onclick="posOrTraining()" >Change POS</button> -->
								</div>
							</div>
							<div class="split65 uncertaintyEach legend buss_ legendAll" id="posLegend" style="padding-bottom: 10px; padding-top: 8px ;"></div>
							<!-- <button type="button" class="button button1" onclick="HidePOS()" style="height: 28px;">Hide POS</button> -->
						</div>	

						<div class = box id="context" style="text-align: center;"></div>
						<div class="legend" id="legend_l" ></div>

					
					</div>
					<div class="item1 half_w"  style="justify-content: center;">
						<div style="padding-left: 11px; padding-top: 2px; height: 30px; background-color: #cad7db;">
							<h5>Training Data View</h5>
						</div>	
						<div class = uncertaintySplit>
							<div class="half_h uncertaintyEach button_">
								<div style="padding-left: 10px; " >
									<button type="button" class="button button1" >Word Cloud</button>
								</div>
							</div>
						</div>	

						<div id="wordCloud" style="text-align: center;"></div>
						<div class = box id="tra_context" style="text-align: center;"></div>
						<div class="legend" id="legend_r" ></div>

					</div>
					<div class="break"></div>
					<!-- <div class="item1 box" id="predict">predict</div>
					<div class="item1 box"></div>
					 <div class="box1" style="background-color:lightgreen;">E</div>
					<div class="box" style="background-color:brown;">F</div> -->
					<!-- <div id="my_dataviz"></div> -->

				</div>
	</body>
	<script>
		var json = {{ json | tojson | safe}};        
	</script>
		<!-- d3.lasso -->
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/d3-lasso.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/d3.layout.cloud.js')}}"></script>
<!-- 
	<script type="text/javascript" src="{{url_for('static', filename= 'color.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'heatmap.js')}}"></script> -->

	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/legend.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/testingView.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/projection.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/labelView.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/wordCloud.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/buttonClick.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename= 'javascript/main.js')}}"></script>

	<!-- <script type="text/javascript" src="{{url_for('static', filename= 'tsne.js')}}"></script> -->
	</html>
